@tailwind base;
@tailwind components;
@tailwind utilities;

#root,
body,
html {
  background-color: #FFFFFF;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'poppins',serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}